html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button::-moz-focus-inner {
  border: 0; }

button:focus {
  outline: none; }

a:focus {
  outline: none; }

input {
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 75px;
  margin-bottom: 50px; }

.error {
  color: red; }

.info {
  color: green; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75%;
  margin: 0 auto; }
  form input {
    margin: 10px 0;
    width: 250px; }
  form .sub-field {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    form .sub-field label {
      display: block; }
