h1
    font-size: 2.5rem
    font-weight: $bold
    margin-top: 75px
    margin-bottom: 50px

.error
    color: red

.info
    color: green
    
form
    display: flex
    flex-direction: column
    width: 75%
    margin: 0 auto
    input
        margin: 10px 0
        width: 250px
    .sub-field
        display: grid
        grid-template-columns: 1fr 1fr
        label
            display: block